<h2  class="title">Resultados de la busqueda</h2>
<div>
    <div class="filter">
            <h3>Precio</h3>
            <ng5-slider [(value)]="value" [(highValue)]="highValue" [options]="options" ></ng5-slider>
            <h3>Categorías</h3>
            <div>
                <label><input type="checkbox" id="cbox" [(ngModel)]="checkboxSobremesa">Sobremesas</label><br>
                <label><input type="checkbox" id="cbox" [(ngModel)]="checkboxPortatil">Portátiles</label><br>
                <label><input type="checkbox" id="cbox" [(ngModel)]="checkboxTelevisor">Televisores</label><br>
                <label><input type="checkbox" id="cbox" [(ngModel)]="checkboxComponente">Componentes</label><br>
                <label><input type="checkbox" id="cbox" [(ngModel)]="checkboxSmartphone">Smartphones</label><br>
                <label><input type="checkbox" id="cbox" [(ngModel)]="checkboxAccesorio">Accesorios Smartphones</label><br>
                <label><input type="checkbox" id="cbox" [(ngModel)]="checkboxAuricular">Auriculares</label><br>
                <label><input type="checkbox" id="cbox" [(ngModel)]="checkboxAltavoz">Altavoces</label><br>
                
            </div>
            <button (click)="searchFilter()">Filtrar</button>
    </div>
    <div *ngIf="inFiltering == true">
        <div fxLayout="column wrap" fxLayoutAlign="space-between center" class="products" *ngFor = "let item of filtering">
            <li>{{item.title}}</li>
            <li><img [src]="item.thumbnailURL"></li>
            <li class="price">{{item.priceHR}}</li>
        </div>
    </div>
    <div *ngIf = "filtering.length == 0 && inFiltering == true" class="searchError">
        <div>
            <p>Ups... Su búsqueda no coincide con ninguno de nuestros productos😅</p>
            <p routerLink="" class="errorLink">◀ ¿Quiere volver al inicio?</p>
        </div>
    </div>
    <div fxLayout="row wrap" fxLayoutAlign="center center" *ngIf = "show != '' && inFiltering == false">
        <div fxLayout="column wrap" fxLayoutAlign="space-between center" class="products" *ngFor = "let item of show">
            <li>{{item.title}}</li>
            <li><img [src]="item.thumbnailURL"></li>
            <li class="price">{{item.priceHR}}</li>
        </div>
    </div>
    <div *ngIf = "show == '' && inFiltering == false" class="searchError">
        <div>
            <p>Ups... Su búsqueda no coincide con ninguno de nuestros productos😅</p>
            <p routerLink="" class="errorLink">◀ ¿Quiere volver al inicio?</p>
        </div>
    </div>
</div>
