<h2  class="title">Resultados de la busqueda</h2>
<div>
    <div fxLayout="row wrap" fxLayoutAlign="center center" *ngIf = "show != ''">
        <div fxLayout="column wrap" fxLayoutAlign="space-between center" class="products" *ngFor = "let item of show">
            <li>{{item.title}}</li>
            <li><img [src]="item.thumbnailURL"></li>
            <li class="price">{{item.priceHR}}</li>
        </div>
    </div>
    <div *ngIf = "show == ''" class="searchError">
        <div>
            <p>Ups... Su búsqueda no coincide con ninguno de nuestros productos😅</p>
            <p routerLink="" class="errorLink">◀ ¿Quiere volver al inicio?</p>
        </div>
    </div>
</div>
