.filter-categories {
    display:flex;
    flex-direction: column;
    justify-content: center;
    font-size: 18px;
}

.filter-marcas {
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    font-size: 18px;
}
.categories{
    font-weight: 400;
}

.button{
    border:none;
    padding: 10px;
    border-radius: 5px;
}

.selected-suggestion{
    background-color: rgb(0, 81, 255) !important; 
    color: white;
}

.user-chip{
  border: 1px solid;
  background: grey;
  padding: 4px 0px;
  border-radius: 10px;
  width: 150px;
  text-align: center;
  color: white;
}

.products{
    list-style: none;
    text-align: center;
    padding: 2vw;
    width: 19vw;
    margin: 0px 20px 20px 20px;
    border: 1px solid var(--border-gray);
    min-width: 300px;
    transition: 0.5s linear;
    height: 400px;
    box-sizing: content-box;
    border-radius: 5px;
}
.products:hover{
    transition: 0.3s linear;
    box-shadow: var(--shadow);
    border: 1px solid var(--darker-border-gray);
}

.products img{
    width: 250px;
}
.title{
    text-align: center;
}
.name{
    font-size: 1.4em;
    font-weight: 500;
    margin-bottom: 20px;
}
.price{
    color:#07ad73;
    font-weight: bold;
    font-size: 1.2em;
}
.description{
    max-width: 100%;
    text-align: left;
    text-overflow:ellipsis;
    overflow:hidden;
    white-space:nowrap;
}
.searchError{
    width: 100vw;
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.6em;
    font-weight: 500;
}
.errorLink{color:var(--main-color);text-align: center; cursor:pointer;}
.container{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start; 
    height: 100%;
    width: 100%;
}
.button{
    border:none;
    padding: 10px;
    border-radius: 5px;
}
.button:first-of-type{
    margin-right: 10px;
}
.button{
    margin-left: 10px;
}
.button:hover{
    background: var(--gray);
    transition: 0.2s linear;
}
.filter{
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    height: 100%;
    width: 20%;
    margin-left: 10px;
}
