<h2 class="title">Lista de productos</h2>

<div class="container">
    <div>
        <div><h2>Precio (€)</h2></div>
        <div>
            <ng5-slider [(value)]="value" [(highValue)]="highValue" [options]="options" [routerLink]="['/categoria', selectedCategory.categoria]" [queryParams]="{minPrice: value, maxPrice: highValue}"></ng5-slider>
        </div>
    </div>
</div>
<div  fxLayout="row wrap" fxLayoutAlign="center center">
    <div  fxLayout="column wrap" fxLayoutAlign="space-between center" class="products" *ngFor = "let product of productsCategory">
    <li >{{product.title}}</li>
    <li><img [src]="product.thumbnailURL"></li>
    <li class="price">{{product.priceHR}}</li>
    </div>
</div>
<div  fxLayout="row wrap" fxLayoutAlign="center center" *ngIf="productsCategory.length == 0">
    <div>
        <h2>No hay articulos que cumplan con estas especificaciones</h2>
    </div>
</div>