
/*HEADER*/
.header{
    margin: 0 auto;
    width: 70vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.menuSearchContainer{
    margin-left: -150px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
/*LOGO*/
.logo{
    width: 150px;
    height: 150px;
}
/*MENU*/
.topmenu{ 
    grid-area: menu;
    width: 50vw; 
    margin: 0 auto;
    align-self: center;
}
.topmenu ul{
    display: flex;
    list-style: none;
    padding-left: 0px;
    justify-content: center;
}
.topmenu ul li{
    margin: 0px 5px 0px 5px;
    cursor: pointer;
}


.search{
    display: flex;
    justify-content: center;
    margin-bottom: 25px;

}
.search input{
    box-shadow: var(--shadow);
}
.button{
    border:none;
    padding: 10px;
    border-radius: 5px;
}
.button:first-of-type{
    margin-right: 10px;
}
.button{
    margin-left: 10px;
}
.button:hover{
    background: var(--gray);
    transition: 0.2s linear;
}
.searchContainer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 25vw;
    margin: 0 auto;
    border: 1px solid var(--border-gray);
    text-align: center;
    border-radius: 5px;
    height:50px;
}
.searchContainer input{
    width: 25vw;
    border: none;
    font-size: 1em;
    margin-left:1px;
    padding-left: 1vw;
    height:40px;
}
.searchContainer input:focus::placeholder{
    opacity: 0;
}
.searchContainer:focus-within{
    transition: 0.2s linear;
    box-shadow: var(--shadow);
    border: 1px solid var(--darker-border-gray)
}
.searchContainer:not(:focus-within){
    transition: 0.2s linear;
}
.searchContainer:focus-within .searchButton{
    color:black;
    transition: 0.2s linear;
}
.searchButton{
    margin-right: 1vw;
    color:gray;
    border:none;
    background:none;
}
.searchbar:focus{   
    border: 1px solid rgb(190, 190, 190);
    width: 50vw;
    transition: 0.1s linear;
    padding: 5px 0px 5px 0px;
    margin: -5px 0px -5px 0px;
}
.searchbar:focus::placeholder{
    color: transparent;
}

.filters{
    width: 20vw;
    height: 50vh;
    border: 1px solid gray;
    text-align: center;
}

.topmenu ul li:hover > ul{
    display:flex;
    width:200px;
}
.topmenu ul li ul{
    display: none;
    flex-direction:column;
    position:absolute;
    margin-left:-25px;
    margin-top:10px;
    box-shadow: var(--shadow);
    background:white;
    border: 1px solid var(--border-gray);
    border-radius: 5px;
}
.topmenu ul li ul li{
    padding:10px;
    margin: 0px;
    color:black;
    border-bottom: 1px solid var(--border-gray);
}
.topmenu ul li ul li:last-child{border-bottom: none;}

.topmenu ul li ul li:hover{
    font-weight: 500;
    cursor: pointer;
    background: var(--main-color);
    color:white;
}

.topmenu ul li ul li:last-child:hover{border-radius: 0px 0px 5px 5px;}

.topmenu ul li ul li:first-child:hover{border-radius: 5px 5px 0px 0px;}

@media (max-width: 599px){
    .topmenu ul{
        flex-direction: column;
    }
    .header{
        flex-direction: column;
    }
    .menuSearchContainer{
        flex-direction: column;
        margin: 0 auto;
        text-align: center;
    }
}
