<header class="header">
        <img class="logo" src="/assets/Images/logo_1.png">
        <div class="we">
        <nav class="topmenu" >
            <ul>
                <li class="button" (click)= "getProducts()" routerLink="">Inicio</li>
                <li class="button" (mouseenter)="getCategory()"> Categorías
                <ul>
                    <li *ngFor = "let opcion of categorias"><span [routerLink]="['/categoria', opcion]">{{opcion}}</span></li>
                </ul>
                </li>
                <!--
                <li class="button">Últimos productos</li>
                <li class="button">Login</li>-->
            </ul>
        </nav>

        <div class="searchContainer ">
            <input  class="searchbar" placeholder="Escribe lo que quieres buscar..." [(ngModel)]="busqueda">
            <button class="searchButton" [routerLink]="['/search', busqueda]"><fa-icon [icon]="faSearch"></fa-icon></button>
            <!--<button class="button"><fa-icon [icon]="faShoppingCart"></fa-icon></button>-->
        </div>
    </div>
</header>

<div>
    <router-outlet>

    </router-outlet>
</div>
<!--
<div *ngIf="category == true">
    <h1 class="productCategory">{{selectedCategory}}</h1>
    <div fxLayout="row wrap" fxLayoutAlign="center center">
    <div div fxLayout="column wrap" fxLayoutAlign="center center" class="products" *ngFor ="let item of productsCategory">

        <li>{{item.title}} </li>
        <li><img [src]="item.thumbnailURL"></li>
        <li>{{item.priceHR}}</li>
    </div>
    </div>
</div> -->
