<div class="container">
    <div>
        <div (click)="MostrarFiltroPrecio()" ><h2>Precio (€)</h2></div>
        <div *ngIf="showPrecio == true">
            <ng5-slider [(value)]="value" [(highValue)]="highValue" [options]="options" ></ng5-slider>
        </div>
        <div (click)="MostrarFiltroCategoria()" ><h2>Categoria</h2></div>
        <div *ngIf="showCategoria == true">
          <!-- Investigar como hacer que este input simplemente haga un routerLink a donde ya estamos pero con un queryParam nuevo -->
            <input [routerLink]="" [queryParams]="{}" type="checkbox"/> <label >Sobremesas </label>
            <input type="checkbox" [(ngModel)]="checkPortatiles"/> <label routerLink="/searching/Portátiles"  >Portátiles </label>
            <input type="checkbox" [(ngModel)]="checkTelevisores"/> <label routerLink="/searching/Televisores"  >Televisores </label>
        </div>
        <div (click)="MostrarFiltroNewCategoria()" ><h2>Categoria</h2></div>
        <div *ngIf="showNewCategoria == true">
                <select name="miselect" [(ngModel)]="seleccionado">
                <option [value]="item" *ngFor="let item of listaCategorias">{{item}}</option>
                </select>
        </div>
        <button (click)="filtrarPrecio()">Filtrar</button>
    </div>
</div>
