<h2  class="title">Lista de productos</h2>
<div  fxLayout="row wrap" fxLayoutAlign="center center">
    <div  fxLayout="column wrap" fxLayoutAlign="space-between center" class="p0roducts" *ngFor = "let product of products">
    <li >{{product.title}}</li>
    <li><img [src]="product.thumbnailURL"></li>
    <li class="price">{{product.priceHR}}</li>
    </div>
    
    <!-- TODO: Preparando el paginado, trabajar después  -->
    <!-- <button (click)="getFirstPage()">Primera</button>
    <select name="miselectPages" [(ngModel)]="seleccionadoPage" (click)="getPage()">
        <option [value]="item" *ngFor="let item of listaPaginas">{{item}}</option>
    </select> -->
</div>
